.widget_price_filter {
    .price-slider-wrapper {
        padding-top: 5px;
        margin-bottom: 16px;
    }
    .price-slider {
        height: 3px;
        .ui-slider-handle {
            height: 16px;
            width: 22px;
            cursor: pointer;
        }
    }
    .price_slider_amount {
        font-weight: 600;
        font-size: 16px;
        color: black;
        margin-top: 15px;
    }

    .slider-selection { 
        background: $color2 !important;
    }

    .slider-handle { background:white !important; border:2px solid $color2;}

    .slider.slider-horizontal { width:95% !important;}

    .slider-track-high { 
        background: #d4d4d4 !important;
    }
}

