.table-sorter { 
	thead { 
		th { cursor:pointer }
		th.tablesorter-headerAsc { 
			.icon { 
				background: transparent url(../../images/tablesorter/asc.gif) top left no-repeat;  
				width:23px;
				height:10px;
			}
		}
		th.tablesorter-headerDesc {
			.icon {
				background: transparent url(../../images/tablesorter/desc.gif) top left no-repeat;  
				width:23px;
				height:10px;
			} 
		}

		th.tablesorter-headerUnSorted {
			.icon { 
				background-image: url(../../images/tablesorter/bg.gif);  
				background-repeat: no-repeat; 
				background-position: center left; 
				width:23px;
				height:10px;
			}
		}
	}
}