.widget_price_filter {
    .price-slider-wrapper {
        padding-top: 5px;
        margin-bottom: 16px;
    }
    .price-slider {
        height: 3px;
        .ui-slider-handle {
            height: 10px;
        }
    }
    .price_slider_amount {
        font-weight: 600;
        font-size: 16px;
        color: #A5A5A5;
        margin-top: 15px;
    }
}
