.place-icon { 
	a {
		color:#000 !important;
		text-align: center;
		i.awe-icon { 
			padding-top:21px;
			padding-left:3px;
			border-radius:1000px;
			width:70px;
			height:70px;
			background: #fff !important;
			color: #000 !important;
			font-size:25px;
		}
		&.active { 
			i { 
				background:$color2 !important;
				border-color: $color2;
				color: black !important; 
			}
			span { 
				color:black !important;
			}
		}

		div:hover { 
			i.awe-icon { 
				background:$color2 !important;
				color:white !important;
				-webkit-transform: background 0.5s;
				   -moz-transform: background 0.5s;
				    -ms-transform: background 0.5s;
				     -o-transform: background 0.5s;
				        transform: background 0.5s;
			}
			span {
				color:black !important;
			}
		}
	}
}