.place-icon { 
	a {
		color:#000 !important;
		text-align: center;
		i.awe-icon { 
			padding-top:24px;
			padding-left:3px;
			border-radius:1000px;
			width:80px;
			height:80px;
			background: #fff !important;
			color: #000 !important;
			font-size:30px;
		}
		&.active { 
			i { 
				background:$color2 !important;
				border-color: $color2;
				color: black !important; 
			}
			span { 
				color:black !important;
			}
		}

		div:hover { 
			i.awe-icon { 
				background:$color2 !important;
				color:white !important;
				transition: 0.5s ease;
			}
			span {
				color:black !important;
			}
		}
	}
}

.place-item { 
	.description { 
		display: block;
		display: -webkit-box;
		max-width: 400px;
		height: 60px; 
		margin: 0 auto;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

.place-list { 
	&:hover {
		.title { 
			color:$color2;
			transition: 0.5s ease;
			background:rgba(255,255,255,0.8);
		}
		img { 
			opacity: 0.8;
			transition: 0.5s ease;
		}
	}
}