.bs-tab-search-tour { 
	position: relative;
	border-radius:6px;
	// margin-top: -40px;
	margin-top: 40px;
	z-index: 9999;
	background: white;

	

	ul.nav-tabs { 
		background: $color2;
		border-bottom-color: white;
		li {
			&.active { background: $color2;}
			&:not(.active) { 
				&:hover, a:hover {
					background: darken($color2,10%);
				}
			}
			&:first-child { 
				a { 
					margin-left:15px;
				}
			}

			a:link, a:visited { 
				color:black; 
				border-width: 0px; 
				border-radius:0px;
				font-size: 14px;
			}
		}

	}

	div.tab-content { 
		padding-bottom:20px;
		div.tab-pane { 
			margin:15px 30px;
		}
	}
}