.select { 
	border:1px solid #ccc;
	background:white;
	padding-bottom:4px !important;
	select { 
		cursor: pointer;
		padding: 0px 15px !important;
		height:30px !important;
		border-width: 0px !important;
		box-shadow: none;
		background-color: transparent;
		background-image: none;
		-webkit-appearance: none;
		   -moz-appearance: none;
				appearance: none;
		text-transform: uppercase;
		font-size: 12px;
	}
}


.filter_tour_schedule_results { 
	label { cursor:pointer; }
}