.select { 
	border:1px solid #ccc;
	background:white;
	padding-bottom:4px !important;
	select { 
		cursor: pointer;
		padding: 0px 15px !important;
		height:30px !important;
		border-width: 0px !important;
		box-shadow: none;
		background-color: transparent;
		background-image: none;
		-webkit-appearance: none;
		   -moz-appearance: none;
				appearance: none;
		text-transform: uppercase;
		font-size: 12px;
	}
}


.filter_tour_schedule_results { 
	label { cursor:pointer; }
}


// Daterange
input.daterangepicker { 
	border-radius:0px;
	padding: 0px 8px 5px 8px !important;
	margin-top:0px;
	margin-bottom:0px;
	height:34px !important;
	width:100%;
	color:black;
	font-size: 13px;
}

div.daterangepicker {
	&.dropdown-menu {
		z-index: 100000 !important;

		div.ranges { 
			li { color:black; border:0; border-radius: 0px;}
			li:hover, li.active { background:$color2; border:0; }
		}

		td { color:black; text-weight: 300;}
		td.active { 
			background:$color2; color:black; 
			&:hover { background:$color2; color:black; }
		}
		td.in-range { background: lighten($color2,20%);}

		td.off { 
			color:#ccc;
		}
		input { border-radius:0; }
	}
}

.form-control { 
	border-radius:0 !important;
	box-shadow: none !important;
	height:32px !important;
}

input[type=text] { 
	line-height:32px !important;
}

.input-group {
	input[type=text] { 
		width:100% !important;
	}
}